{% extends 'shop/basic.html' %}
{% block title %} Contact Us- My awesome cart {% endblock %}
{% block body %}
<div class="container">
    <h1>Contact Us!</h1>
    <form action="/shop/contact/" method="post">{% csrf_token %}
  <div class="form-group mt-2">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name='name' placeholder="Enter your name">
  </div>
        <div class="form-group mt-2">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name='email' placeholder="Enter your Email">
  </div>

        <div class="form-group mt-2">
    <label for="phone">Enter your name</label>
    <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter your Phone Number">
  </div>

  <div class="form-group">
    <label for="desc">How may we help you?</label>
    <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
  </div>
        <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
<script>

    {% if hello %}
    alert('Your query will be resolved as soon as possible by our team. Thank You for believing in us! ');
    document.location = "/shop";
    {% endif %}
</script>


{% endblock %}